{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'contacts/style.css' %}">

<h1>Update Contact</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div>
<form action="{% url 'contacts:contact_update' contact.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <br>
    <input type="submit" value="Update">
</form>
<div>
