{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'contacts/style.css' %}">

{% if contacts_list %}
<div>
    {% for contact in contacts_list %}
    <p><a href="{% url 'contacts:contact_detail' contact.id %}">{{ contact.first_name }} {{ contact.last_name }}</a></p>
    {% endfor %}
</div>
{% else %}
    <p>No Contacts available.</p>
{% endif %}